/.idea
/mysql
###> symfony/framework-bundle ###
/app/.env.local
/app/.env.test
/app/.env.local.php
/app/.env.*.local
/app/config/secrets/prod/prod.decrypt.private.php
/app/public/bundles/
app/var
app/vendor
app/config/jwt
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/asset-mapper ###
/app/public/assets/
/assets/vendor
###< symfony/asset-mapper ###

###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###
/config/packages/nelmio_cors.yaml
