<style>
    .body {
        font-family: Arial, sans-serif;
    }
</style>

<div class="body">
    <h1>Bonjour {{ user.username }} !</h1>
    <p>
        Merci d'avoir créé un compte sur l'application Secret Santa !<br>
        Pour te connecter clique sur le lien suivant <br> <a href="{{ url|raw }}">Connection</a> <br>
    </p>
    <p>Merci</p>
</div>
