<style>
    .button {
        background-color: #04AA6D; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
    }
</style>

<h1>Bonjour {{ user.username }}</h1>

<p>
    Tu as oublié ton mot de passe ?
    Nous avons reçu une demande pour réinitialisé le mot de passe de ton compte.
</p>

<p>
    Pour réinitialiser ton mot de passe clique sur le boutton suivant : <br>
    <a class="button" href="{{ url|raw }}">Réinitialiser mon mot de passe</a>.
</p>

<p>
    Ou copie et colle l'URL suivant dans le navigateur : <br>
    {{ url|raw }}
</p>

<p>Merci</p>
