<h1>Bonjour! {{ user.username }} cliquer sur le lien pour réinitialiser votre mot de passe</h1>

<p>
    Pour votre demande de réinitialisation de mot de passe, veuillez cliquer sur le lien suivant : <br><br>
    <a href="{{ url|raw }}">{{ url|raw }}</a>.
</p>

<p>Merci</p>